.AboutUs {
    text-align: center;
    margin-bottom: 4rem;
}

/* about us introduction */
.about-us-banner {
    height: 40%;
    width: auto;
    align-content: center;
    position: relative;
}

.about-us-banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 14ch;
    color: #ffffff;
    letter-spacing: 0.5rem;
}

.about-us-introduction {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-us-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.about-us-information {
    width: 50%;
    text-align: left;
    margin: auto;
}

.about-us-text {
    text-align: left;
    text-wrap: pretty;
    line-height: 1.75;
}

.about-us-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-weight: bold;
}

.about-us-stat {
    justify-content: center;
}

/* #about-us-followers-stat {
    margin-left: 2rem;
}

#about-us-accounts-reached-stat {
    margin-right: 2rem;
} */

.about-us-img {
    align-self: center;
    width: 28rem;
    margin: auto;
    margin-top: 1em;
    display: block;
    position: relative;
}

.about-us-img img {
    width: 29rem;
    height: auto;
}

/* listed offered resources */
.listed-offered-resources {
    padding: 0 10vw;
}

.listed-offered-resources-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.listed-offered-resource-information {
    position: relative;
    width: 20rem;
    text-wrap: pretty;
    margin-top: 0;
    color: black;
    text-decoration: none;
}

.listed-offered-resource-img {
    width: 20rem;
    aspect-ratio: 1/1;
    background-color: #686868;
}

.listed-offered-resource-information .listed-offered-resource-img:hover + .overlay {
    position: absolute;
    height: 20rem;
    aspect-ratio: 1/1;
    background-color: #dcdcdc7a; 
    top: 0;
    display: block;
    pointer-events: none;
}

.listed-offered-resource-information:hover {
    color: #3b5442;
}

/* meet our founders */
.meet-our-founders {
    padding: 0 10vw;
}

.meet-our-founders-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.founder-information {
    width: 25rem;
    text-wrap: pretty;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.founder-information:hover .founder-introduction-div {
    display: block;
}

.founder-visual {
    position: relative;
    width: 100%;
}

.founder-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #686868;
    align-self: center;
}

.founder-introduction-div {
    display: none;
    width: 65%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
}

.founder-introduction-div p {
    margin: 3vh 2vw;
    text-align: right;
    text-wrap: pretty;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #333;
}

/* our history */
.our-history-information {
    display: flex;
    padding: 0 20rem;
    justify-content: space-between;
}

.our-history-text {
    width: 35rem;
    text-align: left;
    text-wrap: pretty;
    line-height: 1.75;
}

.our-history-img {
    width: 25rem;
    height: 15rem;
    background-color: #686868;
}