.AboutUs {
    text-align: center;
    margin: 0 20vw 4vh 20vw
}

/* about us introduction */
.about-us-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us-information {
    width: 35rem;
    text-align: left;
    margin: auto;
}

.about-us-text {
    text-align: left;
    text-wrap: pretty;
    line-height: 1.75;
}

.about-us-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-weight: bold;
}

.about-us-stat {
    justify-content: center;
}

/* #about-us-followers-stat {
    margin-left: 2rem;
}

#about-us-accounts-reached-stat {
    margin-right: 2rem;
} */

.about-us-img {
    align-self: center;
    width: 25rem;
    height: 17.5rem;
    background-color: #686868;
    margin: auto;
}

/* listed offered resources */
.listed-offered-resources-information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listed-offered-resource-information {
    position: relative;
    width: 15rem;
    text-wrap: pretty;
    margin: auto;
    color: black;
    text-decoration: none;
}

.listed-offered-resource-img {
    aspect-ratio: 1/1;
    background-color: #686868;
    align-self: center;
}

.listed-offered-resource-information .listed-offered-resource-img:hover + .overlay {
    position: absolute;
    height: 15rem;
    aspect-ratio: 1/1;
    background-color: #dcdcdc7a; 
    top: 0;
    display: block;
    pointer-events: none;
}

.listed-offered-resource-information:hover {
    color: #3b5442;
}

/* meet our founders */
.meet-our-founders-information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.founder-information {
    width: 20rem;
    text-wrap: pretty;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.founder-information:hover .founder-introduction-div {
    display: block;
}

.founder-visual {
    position: relative;
    width: 100%;
}

.founder-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #686868;
    align-self: center;
}

.founder-introduction-div {
    display: none;
    width: 65%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
}

.founder-introduction-div p {
    margin: 3vh 2vw;
    text-align: right;
    text-wrap: pretty;
    vertical-align: middle;
    line-height: 1.5;
    color: #333;
}

/* our history */
.our-history-information {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.our-history-text {
    width: 35rem;
    text-align: left;
    text-wrap: pretty;
    line-height: 1.75;
}

.our-history-img {
    width: 25rem;
    height: 15rem;
    background-color: #686868;
}