.Blog {
    text-align: center;
}

/* banner */
.blog-banner {
    position: relative;
    height: 40%;
}

.blog-banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 14ch;
    color: #ffffff;
    letter-spacing: 0.5rem;
}

.blog-description {
    padding: 0 10%;
}

.Blog hr {
    width: 100%;
}

.blog-topic-banner {
    background-color: #c1d6c1;
    padding: 2vh 0;
    height: calc((100vh - 5rem - 3rem) / 2);
    align-content: center;
}

.blog-page-body {
    display: flex;
}

.topic-all-blogs {
    width: 17vw;
    padding: 2vh 3vw 0 0;
    margin-left: 10%;
    text-align: left;
}

.topic-all-blogs li {
    list-style-type: none;
    cursor: pointer;
}

.topic-all-blogs p:hover {
    color: #78A190;
}

.active-blog-item p {
    color: #96BCB0;
}

.blog-content {
    width: 40vw;
    padding: 2vh 0;
    text-align: left;
}

.blog-content p {
    margin-bottom: 0;
}

.blog-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-comments {
    display: flex;
    align-items: center;
}

.comment-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.topics-and-comments {
    width: 20vw;
    padding: 2vh 0;
    margin-right: 10%;
    align-items: flex-start;
}

.topic-selection h2 {
    margin-inline-start: 7rem;
}

.topic-selection {
    text-align: left;
}

.topic-list {
    text-align: left;
    margin-left: 5em;
    list-style-type: none;
    place-content: center;
}

.topic-list p:hover {
    cursor: pointer;
    color: #78A190;
}

.current-topic {
    color: #96BCB0;
}