.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* .noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* h2 {
  font-family: "Noto Serif", serif;
  font-size: 4ch;
  margin: 2vh 0 4vh;
} */

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-size: 5ch;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 2vh 0 1vh;
}

h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  margin: 0;
  font-size: 2.15ch;
}

p {
  font-family: "Alice", sans-serif;
  font-weight: normal;
  font-size: 2ch;
  line-height: 2.25;
}

/* img {
  pointer-events: none;
  user-select: none;
} */


.website-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10vw;
  width: 100vw;
  height: 2vh;
  box-sizing: border-box;
  background-color: #ffffff;
  user-select: none;
  filter: drop-shadow(0 0 0.4rem #686868);
  z-index: 3;
}

.website-header-menu {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  width: 100vw;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 810px) {
  .website-header-menu {
    display: block;
  }
  .website-header {
    display: none;
  }
}

.website-header-logo {
  width: 4rem;
  aspect-ratio: 1 / 1;
}

.website-navigation {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 3rem;
  width: auto;
}

.navigation-links {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin: 0 1rem;
  padding: 0 1rem;
  color: #2A2D34;
  text-decoration: none;
  font-family: "Alice", sans-serif;
  font-weight: normal;
  font-size: 2ch;
  line-height: 2.25; 
}

.active-page {
  color: #96BCB0;
}

/* homepage content */
.homepage {
  width: 100vw;
}

.homepage-content {
  text-align: center;
}

.homepage-banner {
  height: 40%;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  display: block;
  overflow: clip;
  z-index: 1;
  pointer-events: none;
}

.homepage-banner h1 {
  font-family: "Albert Sans", "sans-serif";
  font-size: 14ch;
  color: #ffffff;
  letter-spacing: 0.5rem;
}

.homepage-banner h2 {
  font-family: "Instrument Sans", "sans-serif";
  font-size: 4ch;
  color: #ffffff;
  letter-spacing: 0.5rem;
}

.homepage-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

/* letter from our founders */
.founder-letter-div {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 20vw;
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .founder-letter-div {
    padding: 2rem 5vw;    
  }
}

.founder-letter {
  width: 40vw;
  text-align: left;
}

.founder-letter-text {
  text-wrap: pretty;
}

.founder-letter-image-collection { /* div that contains all the images */
  display: flex;
  flex-direction: column;
  user-select: none;
}

.founder-letter-image {
  background-color: #83a4a4;
  display: flex;
  width: 15rem;
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
  right: 0;
  aspect-ratio: 1 / 1;
}

#vanessa-image {
  margin-bottom: 0;
}

@media only screen and (max-width: calc(80vw + 16rem)) {
  .founder-letter-div {
    display: flex;
    flex-direction: column;
  }

  .founder-letter-image-collection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .founder-letter-image {
    margin-bottom: 0;
  }
}

/* offered resources — horizontal clicky arrow */
/* Parent Container */
.horizontal-scroll-offered-resources {
  position: relative; /* Establishes positioning context for the image */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content overlay */
  overflow: hidden; /* Prevents image from spilling out */
  min-height: 50vh; /* Example: give the section a defined height */
}

/* Background Image */
.offered-resources-information-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div */
  z-index: 1; /* Places the image on a lower layer */
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.7s ease-in-out;
}

.offered-resources-slider-container {
  width: 100vw; /* Controls the visible width of your content */
  z-index: 2; /* Ensures it's above the background image */
}

.offered-resources-slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /* Add the transition for a smooth slide effect */
    transition: transform 0.7s ease-in-out; 
}

.offered-resources-slider-wrapper .no-transition {
  /* Disables the sliding animation */
  transition: none;
}

.offered-resource-slide {
    flex-shrink: 0;
    min-width: 100%; /* Each slide takes up the full width */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offered-resources-information {
  text-align: center;
  width: 100%; /* Fill the slide */
}

/* Content Overlay (ONLY Text) */
.offered-resources {
  position: relative; /* Allows z-index to work */
  z-index: 2; /* Places content on top of the image */
  width: 100%;
  /* padding: 0 8vw; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Better for vertical centering */
  z-index: 3; /* Keep buttons on the very top layer */
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .horizontal-scroll-offered-resources {
    padding: 2rem 8vw;    
  }
}

/* .buttonArea {
  position: relative
} */

.buttonArea img {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 2;
  pointer-events: auto;
}

.left-button {
  position: absolute;
  left: 12rem;
  top: 50%;
}

.right-button {
  position: absolute;
  right: 12rem;
  top: 50%;
}

.buttonArea:hover .overlay {
  background-color: rgba(192, 192, 192, 0.329); 
  position: absolute;
  z-index: 4;
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  pointer-events: none;
}

.buttonArea .overlay {
  position: absolute;
  transform: translateY(-50%);
  z-index: 4;
}

.buttonArea .left {
  top: 50%;
  left: 12rem;
}

.buttonArea .right {
  top: 50%;
  right: 12rem;
}

.offered-resources-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.offered-resources-information-text h2 {
  color: rgb(90, 89, 89);
}

.solid {
  width: 50%;
  border: none;
  height: 2px;
  background-color: rgb(170, 168, 168);
}

/* How To Join Us */
.how-to-be-involved-div {
  padding: 2rem 10vw;
  /* background-color: rgb(196, 217, 225);  */
  color: black;
}

@media only screen and (max-width: 1000px) {
  .how-to-be-involved-div {
    padding: 2rem 10vw;
  }
}

a {
  text-decoration: none;
  color: #78A190;
}

#discord-link:hover {
  color: #5969EA;
}

#instagram-link:hover {
  color: #b22650;
}

.volunteer-opportunities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.volunteer-information {
  text-align: left;
  width: 40vw;
}

.volunteer-opportunities-image-carousel {
  display: flex;
  width: 30vw;
  gap: 0.5rem;
}

.image-in-focus-container {
  width: 24vw; 
}

.image-in-focus {
  width: 24vw;
  aspect-ratio: 1/1;
}

.caption {
  font-size: 1.5ch;
  text-align: left;
  margin-block-start: 0;
  line-height: 1.25;
}

.smaller-images {
  display: flex;
  flex-direction: column;
  width: 5.7vw;
  height: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.smaller-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.smaller-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This is key to prevent stretching */
}

@media only screen and (max-width: 1000px) {
  .volunteer-opportunities {
    justify-content: center;
  }
  .volunteer-information {
    width: 100%;
  }
  .volunteer-opportunities-image-carousel {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }
  .image-in-focus {
    width: 60vw;
  }
  .smaller-images {
    box-sizing: border-box;
    margin-top: 3px;
    flex-direction: row;
  }
  .smaller-image {
    width: 15vw;
    box-sizing: border-box;
    margin-right: 3px;
  }
}

.smaller-image:hover .overlay {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #6868687a; 
  top: 0;
}

.active-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* A semi-transparent white */
  box-sizing: border-box;
  pointer-events: none; /* Ensures the overlay doesn't block clicks */
}

.hiring-opportunities {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.hiring-information {
  text-align: left;
  width: 40vw;
}

.hiring-post {
  position: relative;
}

.hiring-post-image {
  width: 30vw;
}

.ig-post-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  aspect-ratio: 1/1;
  z-index: 1;
  opacity: 90%;
}

@media only screen and (max-width: 1000px) {
  .hiring-opportunities {
    justify-content: center;
  }
  .hiring-post-image {
    width: 60vw;
  }
  .hiring-information {
    width: 100%;
  }
}

/* Instagram Display */
.instagram-display {
  /* background-color: #deede8; */
  padding: 2rem 15vw;
}

@media only screen and (max-width: 1000px) {
  .instagram-display {
    padding: 2rem 10vw;
  }
}

.instagram-display-heading a {
  color: #5b7067;
  text-decoration: none;
}

.instagram-content {
  display: flex;
  flex-direction: column;
}

.instagram-profile-banner {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.instagram-profile {
  width: 6rem;
}

.instagram-profile img {
  width: 6rem;
}

.instagram-profile-information {
  text-align: left;
  margin-left: 1rem;
}

.instagram-profile-information h3 {
  margin-block-end: 0rem;
}

.instagram-profile-information p {
  margin-block-start: 0.5rem;
  margin-block-end: 0rem;
  line-height: 1;
  font-size: 1.75ch
}

.instagram-posts {
  display: grid;
  /* This creates responsive columns. They will each be at least 250px wide, 
     and the grid will fit as many as possible on one row before wrapping. */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

/* the square tile */
.instagram-post{
  position: relative;
  aspect-ratio: 1 / 1;   /* perfect square */
  overflow: hidden;       /* clean crop */
  max-width: 25vw; /* This will limit the size of each square post container */
  max-height: 25vw; /* And ensure it remains a square */
  width: 100%; /* Ensure it still participates in the grid flow */
  height: 100%; /* Ensure it still participates in the grid flow */
}

/* the actual image */
.post-image{
  width:100%;
  height:100%;
  display:block;
}

@media only screen and (min-width: 2000px) {
  .post-image {
    object-fit: contain;
    width: 25vw;
    height: 25vw;
  }
}

@media only screen and (min-width: 2000px) {
  .post-image {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
  }
}

.ig-display-post-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  aspect-ratio: 1/1;
  z-index: 1;
  opacity: 90%;
}

/* faq  */
.faq {
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem 10vw 0 10vw;
  background-color: #deede8; 
}

.faq h1 {
  margin-block-end: 0.5em;
}

@media only screen and (max-width: 1000px) {
  .faq {
    padding: 2rem 10vw;
  }
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq-questions {
  width: 50%;
  text-align: left;
}

.faq-question-content {
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.faq-question-content h2 {
  cursor: pointer;
}

.faq-question-icon {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  margin-top: calc(2vh + 0.6em);
  transition: all 0.5s ease-in;
}

.faq-answer {
  margin-top: 1rem;
  pointer-events: none;
}

.open-answer {
  display: block;
  max-height: 1000px; /* A large enough value */
  transition: all 0.3s ease-in;
}

.closed-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.form-container {
  /* background-color: #ffffff; */
  width: 40%;
  justify-self: center;
  padding: 0 3rem 2rem 3rem;
}

.faq-ask-question {
  width: 100%;
  text-align: left;
}

.input-fields{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-fields input {
  height: 2rem;
  width: 100%;
  font-family: "Alice", sans-serif;
  border-radius: 3px;
  border-width: 1.5px;
  border-color: #96BCB0;
  font-size: 1.75ch;
  text-indent: 0.5ch;
}

.input-fields:focus {
  border-color: #ACD2C7;
}

.input-fields p {
  margin: 0;
  padding-left: 2px;
  font-size: 1.75ch;
  line-height: 1.5;
}

.full-name {
  display: flex;
  gap: 1rem;
}

.form-container button {
  font-family: "Alice", sans-serif;
  background-color: #ACD2C7;
  height: 2rem;
  width: 5rem;
  border-width: 1.5px;
  border-color: #96BCB0;
  margin-top: 1rem;
}

.form-container button:hover {
  background-color: #BAD9D0;
}

form {
 font-family: "Alice", sans-serif; 
}



/* Footer */
.footer-content {
  background-color: #2A2D34;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10vw 0.2rem 10vw;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .footer-content {
    padding: 1rem 5vw;
  }
}

.footer-content h3 {
  margin-bottom: 0.5rem;
  color: #f1f1f1;
  font-size: 1.9ch;
  font-weight: 500;
}

.footer-content p {
  line-height: 1;
  font-size: 1.65ch;
  color: #f1f1f1
}

.footere-content span {
  display: block;
}

/* socials */
.social-icons {
  margin-bottom: 0.5rem;
}

.social-icon {
  width: 1.25rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}

/* contact us */
.email-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.email-container img {
  width: 1rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  margin-bottom: 1rem;
}

.email-container p {
  margin-top: 0;
}

/* info — privacy policy */
.info {
  flex-direction: column;
  align-items: flex-start;
}

#navigation-link-privacy-policy {
  vertical-align: top;
  line-height: 1;
  font-size: 1.65ch;
  margin: 0;
  padding: 0;
  height: auto;
  color: #f1f1f1
}

.info .inactive-page {
  color: #2A2D34;
}

.navigation-links:hover {
  color: #78A190;
}

#navigation-link-privacy-policy:hover {
  color: #f1f1f1;
}

/* privacy policy page */
.privacy-policy-page {
  padding: 2rem 20vw;
}