.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* h2 {
  font-family: "Noto Serif", serif;
  font-size: 4ch;
  margin: 2vh 0 4vh;
} */

h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 1.5ch;
  margin: 2vh 0 4vh;
}

p {
  font-size: 1em;
}

.homepage-content {
  text-align: center;
  padding-bottom: 4rem;
}

.website-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10rem;
  height: 2vh;
  background-color: #ffffff;
  user-select: none;
  filter: drop-shadow(0 0 0.4rem #686868)
}

.website-header-logo {
  width: 4rem;
  aspect-ratio: 1 / 1;
}

.website-navigation {
  display: flex;
  align-items: center;
  height: 3rem;
  width: auto;
}

.navigation-links {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin: 0 1rem;
  padding: 0 1rem;
  color: #000000;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
}

.navigation-links:hover {
  color: #3b5442;
}

.navigation-links:active-class {
  color: #7eb08d; 
}

.active-page {
  color: #3b5442;
}

.homepage-banner {
  width: 100%;
  height: 20rem;
  background-color: #A9D0C5;
  color: white;
}

/* letter from our founders */
.founder-letter-div {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20rem
}

.founder-letter {
  width: 45rem;
  text-align: left;
}

.founder-letter-text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 1.75ch;
  line-height: 2.25;
  text-wrap: pretty;
}

.founder-letter-image-collection { /* div that contains all the images */
  display: flex;
  flex-direction: column;
}

.founder-letter-image {
  background-color: #83a4a4;
  display: flex;
  width: 15rem;
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
  margin-left: 2rem;
  right: 0;
  aspect-ratio: 1 / 1;
}

/* offered resources — horizontal clicky arrow */
.horizontal-scroll-offered-resources {
  background-color: rgb(213, 187, 187);
  display: flex;
  align-items: center; /* Center vertically */
  height: 20rem;
  width: 100%;
  /* padding: 1rem 20rem; */
}

.offered-resources-left-button {
  margin-left: 20rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #686868;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offered-resources-right-button {
  margin-right: 20rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #686868;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offered-resources-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* How To Join Us */
.how-to-be-involved-div {
  padding: 0 20rem;
  /* background-color: rgb(196, 217, 225);  */
  color: black;
}

.volunteer-opportunities {
  /* margin: 0 15vw; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.volunteer-information {
  text-align: left;
}

.volunteer-opportunities-image-carousel {
  display: flex;
  width: 32rem;
  height: 18rem;
  text-align: right;
  justify-content: space-between;
}

.image-in-focus {
  width: 26rem;
  height: 18rem;
  background-color: #686868;
}

.smaller-images {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 100%;
  justify-content: space-between;
}

.smaller-image {
  position: relative;
  justify-self: end;
  height: 5.5rem;
  aspect-ratio: 1/1;
}

.smaller-image:hover .overlay {
  position: absolute;
  height: 5.5rem;
  aspect-ratio: 1/1;
  background-color: #6868687a; 
  top: 0;
}

.hiring-opporuntiies {
  /* margin: 0 15vw; */
  display: flex;
  align-items: center;
}

.hiring-information {
  text-align: left;
  width: 50%;
}

.hiring-post {
  width: 50%;
  text-align: right;
}

/* Instagram Display */
.instagram-display {
  background-color: #e8edde;
  padding: 0 20rem;;
}

.instagram-profile-banner {
  display: flex;
  align-items: center;
}

/* .instagram-profile {
} */

.instagram-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram-post {
  width: 15rem;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0; /* Placeholder color */
  justify-content: center;
  margin-bottom: 1rem;
}

/* faq  */
.faq {
  background-color: rgb(223, 235, 223);
  padding: 0 20rem;
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq-questions {
  background-color: #ffffff;
  width: 50%;
  text-align: left;
}

.faq-question-content {
  display: flex;
}

.faq-question-icon {
  margin-right: 1rem;
}

.faq-answer {
  margin-top: 1rem;
}

.faq-ask-question {
  width: auto;
  background-color:rgb(213, 187, 187);
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
