.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* .noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* h2 {
  font-family: "Noto Serif", serif;
  font-size: 4ch;
  margin: 2vh 0 4vh;
} */

h3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 1.5ch;
  margin: 2vh 0 4vh;
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 1.65ch;
  line-height: 2.25;
}


.website-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10vw;
  width: 100vw;
  height: 2vh;
  box-sizing: border-box;
  background-color: #ffffff;
  user-select: none;
  /* filter: drop-shadow(0 0 0.4rem #686868) */
}

.website-header-menu {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: #ffffff;
  user-select: none;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 810px) {
  .website-header-menu {
    display: block;
  }
  .website-header {
    display: none;
  }
}

.website-header-logo {
  width: 4rem;
  aspect-ratio: 1 / 1;
}

.website-navigation {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 3rem;
  width: auto;
}

.navigation-links {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin: 0 1rem;
  padding: 0 1rem;
  color: #000000;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
}

.navigation-links:active-class {
  color: #7eb08d; 
}

.active-page {
  color: #3b5442;
}

/* homepage content */
.homepage {
  width: 100vw;
}

.homepage-content {
  text-align: center;
}

.homepage-banner {
  height: 20rem;
  background-color: #A9D0C5;
  color: white;
  box-sizing: border-box;
}

/* letter from our founders */
.founder-letter-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 20vw;
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .founder-letter-div {
    padding: 2rem 5vw;    
  }
}

.founder-letter {
  width: 40vw;
  text-align: left;
}

.founder-letter-text {
  text-wrap: pretty;
}

.founder-letter-image-collection { /* div that contains all the images */
  display: flex;
  flex-direction: column;
}

.founder-letter-image {
  background-color: #83a4a4;
  display: flex;
  width: 15rem;
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
  right: 0;
  aspect-ratio: 1 / 1;
}

#vanessa-image {
  margin-bottom: 0;
}

@media only screen and (max-width: calc(80vw + 16rem)) {
  .founder-letter-div {
    display: flex;
    flex-direction: column;
  }

  .founder-letter-image-collection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .founder-letter-image {
    margin-bottom: 0;
  }
}

/* offered resources — horizontal clicky arrow */
.horizontal-scroll-offered-resources {
  background-color: rgb(213, 187, 187);
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between;
  padding: 2rem 10vw;
}

@media only screen and (max-width: 1000px) {
  .horizontal-scroll-offered-resources {
    padding: 2rem 8vw;    
  }
}

.offered-resources-left-button {
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #686868;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offered-resources-right-button {
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #686868;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offered-resources-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

/* How To Join Us */
.how-to-be-involved-div {
  padding: 2rem 20vw;
  /* background-color: rgb(196, 217, 225);  */
  color: black;
}

@media only screen and (max-width: 1000px) {
  .how-to-be-involved-div {
    padding: 2rem 10vw;
  }
}

.volunteer-opportunities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.volunteer-information {
  text-align: left;
  width: 30rem;
}

.volunteer-opportunities-image-carousel {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}

.image-in-focus {
  width: 80%;
  aspect-ratio: 1/1;
  background-color: #686868;
}

.smaller-images {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 100%;
  justify-content: space-between;
}

.smaller-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 1000px) {
  .volunteer-opportunities-image-carousel {
    flex-direction: column;
    box-sizing: border-box;
  }
  .image-in-focus {
    width: 80vw;
  }
  .smaller-images {
    box-sizing: border-box;
    margin-top: 3px;
    flex-direction: row;
  }
  .smaller-image {
    width: 20vw;
    box-sizing: border-box;
    margin-right: 3px;
  }
}

.smaller-image:hover .overlay {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #6868687a; 
  top: 0;
}

.hiring-opporuntiies {
  display: flex;
  align-items: center;
}

.hiring-information {
  text-align: left;
  width: 50%;
}

.hiring-post {
  width: 50%;
  text-align: right;
}

/* Instagram Display */
.instagram-display {
  background-color: #e8edde;
  padding: 2rem 20vw;
}

@media only screen and (max-width: 1000px) {
  .instagram-display {
    padding: 2rem 10vw;
  }
}

.instagram-display-heading a {
  color: #5a6dbb;
  text-decoration: none;
}

.instagram-profile-banner {
  display: flex;
  align-items: center;
}

.instagram-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.instagram-post {
  width: 15rem;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0; /* Placeholder color */
  justify-content: center;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 2000px) {
  .instagram-post {
    width: 25vw;
  }
}

/* faq  */
.faq {
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(223, 235, 223);
  padding: 2rem 20vw;
}

@media only screen and (max-width: 1000px) {
  .faq {
    padding: 2rem 10vw;
  }
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq-questions {
  /* background-color: #ffffff; */
  width: 50%;
  text-align: left;
}

.faq-question-content {
  display: flex;
  flex-direction: column;
}

.faq-question-icon {
  margin-right: 1rem;
}

.faq-answer {
  margin-top: 1rem;
}

.faq-ask-question {
  width: auto;
  /* background-color:rgb(213, 187, 187); */
  justify-content: center;
}

/* Footer */
.footer-content {
  background-color: #A9D0C5;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10vw;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .footer-content {
    padding: 1rem 5vw;
  }
}

.footer-content h3 {
  margin-bottom: 0.5rem;
}

.footer-content p {
  line-height: 1;
}

.footere-content span {
  display: block;
}

/* socials */
.social-icons {
  margin-bottom: 0.5rem;
}

.social-icon {
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}

/* contact us */
.contacts h3 {
  margin-bottom: 0.5rem; /* Explicitly set if needed */
}

.email-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.email-container img {
  cursor: pointer;
  margin-bottom: 1rem;
}

.email-container p {
  margin-top: 0;
}

/* info — privacy policy */
.info {
  flex-direction: column;
  align-items: flex-start;
}

#navigation-link-privacy-policy {
  vertical-align: top;
  line-height: 0;
  font-size: 1.65ch;
  margin: 0;
  padding: 0;
}

.info .inactive-page {
  color: #FFFFFF;
}

.navigation-links:hover {
  color: #3b5442;
}

/* privacy policy page */
.privacy-policy-page {
  padding: 2rem 20vw;
}